extends layout

block contenido
	-var project_url = proyecto.url || ''
	-var project_id = proyecto.id || ''
	-var tasks =  tareas || []

	.contenido-principal
		h1 #{nombrePagina} - #{proyecto.nombre}
		form(class="agregar-tarea"
		     method="post" 
		     action=`/proyectos/${project_url}`)
			.campo
				label(for="tarea") Tarea:
				input(type="text" 
				  class="nombre-tarea" 
					name="tarea" 
					placeholder="Nombre de la tarea" 
					required)
			.campo.enviar
				input(class="boton nueva-tarea" 
					type="submit"
					value="Agregar")

		.listado-pendientes
			include mixins/listadoTareas
			+listadoTareas(tasks)

		if (tasks.length > 0)
			.avance
				h2 Avance del proyecto
				div(id="barra-avance" class="barra-avance")
					div(id="porcentaje" class="porcentaje")

		.contenedor-acciones
			a(href=`/proyectos/editar/${project_id}`
			  class="boton") Editar
			button(type="button" 
				class="boton eliminar"
				id="eliminar-proyecto"
				data-proyecto-url=`${project_url}`) Eliminar
