mixin crearProyecto(proyecto = {})
	- var id = proyecto.id || ''
	- var name = proyecto.nombre

	form(class="agregar-proyecto" 
			 method="post" 
			 action=`/nuevo-proyecto/${id}`)
		.campo
			label(for="nombre") Nombre proyecto:
			input(type="text" 
						id="nombre" 
						name="nombre" 
				  	placeholder="Nombre proyecto" 
						autofocus
				  	value= name)
		.campo.enviar
			input(type="submit" 
						class="boton" 
				  	value=`${name ? 'Guardar' : 'Agregar'}`)
