mixin form(mode = 'signup', messages = {})
  -var title = `${mode === 'signup' ? 'Crear cuenta' : 'Iniciar sesi칩n'}`
  -var action = `${mode === 'signup' ? '/crear-cuenta' : '/iniciar-sesion'}`
  -var href = `${mode === 'signup' ? '/iniciar-sesion' : '/crear-cuenta'}`
  -var hreftitle = `${mode === 'signup' ? 'Iniciar sesi칩n' : 'Crear cuenta'}`

  h1=title

  form(id="formulario" class="caja caja-login" method="post" action=action)
    .campo
      label(for="email") Email:
      input(
        type="email"
        name="email"
        placeholder="Tu email"
        required
        autocomplete
        autofocus)
    .campo
      label(for="password") Contrase침a:
      input(
        type="password"
        name="password"
        placeholder="Tu contrase침a"
        required
        autocomplete)
    .campo.enviar
      input(
        type="submit"
        class="boton"
        value=title)
    .campo
      a(href= href)=hreftitle

    include alerts
    +alerts(messages)
